.containerRadio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

}

.input {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
}

.input[type="radio"].--green {
    border: 1px solid rgb(6, 196, 133);
}

.input[type="radio"].--red {
    border: 1px solid red;
}

.input[type="radio"].--purple {
    border: 1px solid rgb(148 8 239);
}

.input[type="radio"]:checked.--green {
    background-image: radial-gradient(rgba(255, 255, 255, 0.904) 35%, rgb(6, 196, 133) 45%);
}

.input[type="radio"]:checked.--red {
    background-image: radial-gradient(rgba(255, 255, 255, 0.904) 35%, red 45%);
}

.input[type="radio"]:checked.--purple {
    background-image: radial-gradient(rgba(255, 255, 255, 0.904) 35%, rgb(148 8 239) 45%);
}

.label {
    font-size: 12px;
    font-weight: 600;
    padding: 3px;
    border-radius: 5px;
}

.label.--red {
    background-color: red;
    color: white;
}

.label.--green {
    background-color: rgb(6, 196, 133);
    color: rgb(4, 100, 60)
}

.label.--purple {
    background-color: rgb(148 8 239);
    color: rgb(66, 9, 103);
}