.container_body{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: grid;
    grid-template-rows: 150px 1fr;
}
.container_button{
    grid-area: 1/1/1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_button button{
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--background-color-blue-700);
    color: white;
    font-size: 14px;
}
.container_table{
    grid-area: 2/1/2/1;
    padding: 20px;
    overflow: auto;
}
.wrap_container_table{
    max-width: 100%;
    max-height: 100%;
    border-radius: 7px;
    overflow: auto;
}

.table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.table thead{
    position: sticky;
    top: 0;
    background-color: var(--background-color-blue-700);
    color: white;
}
.table thead tr th{
    padding: 5px;
}
.table thead tr th:not(:last-child){
    border-right: 1px solid white;
}
.table tbody{
    background-color: rgba(219, 233, 240, .5);
}
.table tbody tr td{
    padding: 50px;
}

.cardAdd, .cardAdd_close{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.11);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.cardAdd_close{
    transform: translateY(-350px);
    opacity: 0;
    pointer-events: none;
}