.container_body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap_container_body {
    width: 600px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 10px;
}

.card {
    border-radius: 7px;
}

.card:nth-child(1) {
    grid-area: 1/1/1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, rgba(0, 26, 255, .7), rgb(0, 194, 194, .5), rgb(10, 151, 207, .5), rgb(25, 0, 255, .7)),
        linear-gradient(to right top, rgb(0, 26, 255), rgba(255, 0, 234, 0.5), rgb(25, 0, 255, .7)),
        linear-gradient(to left bottom, rgba(243, 243, 243, 0.7), rgba(133, 0, 194, 0.8), rgba(234, 0, 255, 0.5), rgb(25, 0, 255, .7)),
        linear-gradient(to left top, rgba(0, 247, 255, 0.7), rgba(13, 0, 194, 0.8), rgba(3, 70, 97, 0.5), rgba(255, 8, 0, 0.7))
}

.card:nth-child(2) {
    grid-area: 1/2/1/2;
    box-shadow: 1px 0 10px 1px rgba(13, 0, 194, 0.8);
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    position: relative;
    overflow: hidden;
}

.container_title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerInput {
    align-content: center;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.containerLoading,
.containerLoading_close,
.containerMessage,
.containerMessage_close {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .5s;
}

.containerLoading,
.containerLoading_close {
    background-color: rgba(94, 94, 94, 0.562);
}

.containerLoading_close,
.containerMessage_close {
    transform: translateY(-220px);
    opacity: 0;
    pointer-events: none;
}

.containerInput div {
    position: relative;
    transition: .5s;
}

.containerInput div input {
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgba(13, 0, 194, 0.356);
    outline: none;

}

.containerInput div label {
    position: absolute;
    font-size: 14px;
    left: 5px;
    bottom: 7px;
    transition: .5s;
    font-weight: 600;
    color: rgba(12, 5, 75, 0.644);
}

.containerInput div input:valid~label,
.containerInput div input:focus~label {
    transform: translateY(-20px);
    font-size: 12px;
    background-color: rgb(4, 0, 255);
    padding: 3px;
    color: white;
    border-radius: 3px;
}

.container_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_button button {
    border: 1px solid rgba(0, 26, 255, .7);
    color: rgba(4, 24, 209, 0.932);
    font-weight: 600;
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    width: 150px;
    transition: 1s;
}

.container_button button:hover {
    letter-spacing: 1px;
    border: none;
    color: white;
    background-color: rgb(0, 26, 255);
    transition: 1s;
}

@media(max-width:430px) {
    .card:nth-child(1) {
        display: none;
    }

    .card:nth-child(2) {
        height: 100%;
        width: 300px;
        grid-area: 1/1/1/3;
        box-shadow: 1px 0 10px 1px rgba(13, 0, 194, 0.8);
        display: grid;
        grid-template-rows: 80px 1fr 50px;
        position: relative;
    }

    .wrap_container_body {
        justify-content: center;
        align-items: center;
        display: flex;
        height: 500px;
    }
}