.card {
    width: 300px;
    height: 470px;
    background-color: white;
    border-radius: 7px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 40px 1fr 80px;
    position: relative;
}

.cardLoading {
    background-color: rgba(150, 150, 150, 0.178);
}

.cardLoading,
.cardLoading_close,
.filterClaims,
.filterClaims_close {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.cardLoading_close,
.filterClaims_close {
    position: absolute;
    transform: translateY(-50px);
    opacity: 0;
    pointer-events: none;

}

.filterClaims {
    backdrop-filter: blur(2px);
    z-index: 5;
}

.title {
    grid-area: 1/1/1/6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-blue-400);
}

.body {
    grid-area: 2/1/2/6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 10px;
    gap: 5px;
    overflow: hidden;
}

.container_nome_status {
    grid-area: 1/1/1/6;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.wrap_container_nome,
.wrap_container_apelido,
.wrap_container_senha,
.wrap_container_confirmacao_senha,
.container_table_claims {
    display: flex;
    align-items: center;
    position: relative;
    transition: .5s;
}

.wrap_container_confirmacao_senha svg,
.wrap_container_senha svg {
    font-size: 18px;
    color: var(--background-color-blue-400);
}



.wrap_container_nome {
    grid-area: 1/1/1/4;
}

.wrap_container_apelido {
    grid-area: 1/4/1/7;
}

.wrap_container_senha {
    grid-area: 2/1/2/4;
}

.wrap_container_confirmacao_senha {
    grid-area: 2/4/2/7;
}

.container_table_claims {
    grid-area: 3/1/5/7;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;

    overflow: hidden;
    border-radius: 7px;
}

.wrap_container_claims {
    width: 100%;
    height: 100%;
    background-color: rgba(219, 233, 240, .5);
    overflow: auto;
}

.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    text-align: center;
}

.table tbody tr:not(:last-child) {
    border-bottom: 1px solid var(--background-color-blue-700);
}

.table tbody td {
    padding: 5px;
    color: var(--text-color-blue-700);
    font-weight: 500;
}

.table tbody td svg {
    font-size: 20px;
    color: rgba(252, 0, 0, 0.795);
}

.wrap_container_claims thead {
    position: sticky;
    top: 0;
    background-color: var(--background-color-blue-700);
    color: white;
}

.container_button_filter {
    grid-area: 5/1/5/7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_button_filter button {
    border: none;
    width: 50%;
    height: 25px;
    border-radius: 3px;
    font-size: 16px;
    background-color: var(--background-color-blue-700);
    color: white;
    font-size: 22px;
}

.footer {
    grid-area: 3/1/3/6;
    display: grid;
    grid-template-rows: repeat(2, 1fr);

}

.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

}

.footer div:nth-child(1) {
    grid-area: 1/1/1/4;
}

.footer div:nth-child(2) {
    grid-area: 2/1/2/4;
}


.cardMessage,
.cardMessage_close {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: .5s;
}
.cardMessage_close{
    transform: translateY(-200px);
    opacity: 0;
    pointer-events: none;

}

@media(min-width:430px) {
    .card {
        width: 550px;
    }

    .footer {
        grid-template-rows: 1fr;

    }

    .footer div:nth-child(1) {
        grid-area: 1/1/1/3;
        padding: 20px;
    }

    .footer div:nth-child(2) {
        grid-area: 1/3/1/5;
        padding: 20px;
    }
}