.form {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    display: grid;
}

.IPecaProps .containerBody {
    padding: 5px;
    overflow: hidden;
}

.containerFormAdd,
.containerFormAdd_close {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}
.containerFormAdd_close{
    transform: translateY(-100%);
}

.containerTable {
    border-radius: 7px;

}

.containerFilter {
    display: flex;
    gap: 15px;

    background-color: var(--background-color-blue-700);
    padding: 10px;
}

.wrapTable {
    height: 100%;
    overflow: auto;
    position: relative;
}

.containerTypesFilter {
    position: relative;
}


.containerFilter input {
    padding: 7px;
    border-radius: 3px;
    border: none;
}

.containerTypesFilter input {
    background-color: rgb(224, 224, 224);
}

.listTypeFilter,
.listTypeFilter_close {
    position: absolute;
    background-color: white;
    z-index: 999;
    border-radius: 10px;
    width: 100%;
    overflow: auto;
    padding: 5px;
    height: 80px;
    box-shadow: 0 0 10px -2px rgb(201, 201, 201);
    font-size: 14px;
    cursor: default;
    font-weight: 500;
    list-style: none;
    left: 5px;
    transition: .5s;
    transform-origin: top;
}

.listTypeFilter_close {
    transform: scaleY(0);
}

.listTypeFilter,
.listTypeFilter_close li {
    padding: 5px;

}

.containerTypesFilter ul li:hover {
    background-color: rgb(182, 182, 182);
    transition: .2s;
}

.table {
    border-collapse: collapse;
    text-wrap: nowrap;
    width: 100%;
    height: 100%;
}

.table thead {
    background-color: var(--background-color-blue-700);
    color: white;
    position: sticky;
    top: 0;
}

.table thead th {
    padding: 5px;
}

.table thead th:not(:last-child) {
    border-right: 1px solid white;
}

.tableBody {
    background-color: rgba(219, 233, 240, .5);
    color: var(--text-color-blue-400);
    text-align: center;
}

.tableRow td {
    padding: 5px 10px 5px 10px;
    text-align: left;
}

.tableRow:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

.buttonAdd span {
    font-size: 12px;
    font-weight: 600;
    background-color: rgb(17, 217, 160);
    color: rgb(6, 97, 71);
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}

@media(max-width:430px) {
    .form {
        grid-template-rows: 40px 1fr 80px;
    }
    .containerBody{
        grid-area: 1/1/3/1;
        overflow: hidden;
    }

    .containerTable {
        grid-area: 1/1/2/1;
        height: 100%;
        border-radius: 7px;
    }

    .containerFilter {
        display: grid;
        grid-template-rows: repeat(2, 20px);
    }

    .containerTypesFilter {
        grid-area: 1/1/1/1;
    }

    .containerInputFilter {
        grid-area: 2/1/2/1;
    }

    .buttonFilter {
        grid-area: 1/2/3/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .footer {
        grid-area: 3/1/3/1;
        display: grid;
        padding: 20px;
    }
}

@media(min-width:430px) {
    .form {
        grid-template-rows: 40px 1fr 80px;
    }
    .containerBody{
        grid-area: 1/1/3/1;
    }
    .containerTable {
        grid-area: 2/1/2/1;
        height: 100%;
        border-radius: 7px;
        display: grid;
        grid-template-rows: 40px 1fr;
    }

    .footer {
        grid-area: 3/1/3/1;
        display: grid;
        padding: 20px;
    }
}