.container_table {
    position: relative;
    width: calc(100% - 200px);
    height: calc(100vh - 140px);
    left: 110px;
    top: 20px;
    z-index: 1;
    overflow: auto;
}

.table {
    border-collapse: collapse;
}

.table tr {
    padding: 10px;
    border: 1px solid rgb(0, 0, 0)
}

.table td:nth-last-child(1) {
    border: 1px solid rgb(0, 0, 0);
}