.body {
    width: calc(100% - 100px);
    height: calc(100vh - 100px);
    position: relative;
    left: 100px;
    top: 100px;
    overflow: hidden;
}
@media(max-width:430px){
    .body{
        width: 100%;
        left: 0;
    }
}