.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 40px 1fr;
}

.container_inputFilter {
    grid-area: 1/1/1/1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    margin-top: 7px;
    gap: 10px;
}

.container_inputTipoMaquina,
.container_inputNumeroSerie {
    position: relative;
    border: 1px solid rgba(148, 148, 148, 0.452);
    border-radius: 3px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_inputNumeroSerie {
    grid-area: 1/1/1/1;
}
.container_inputTipoMaquina{
    grid-area: 1/2/1/2;
}

.container_inputNumeroSerie input,
.container_inputTipoMaquina input {
    width: 100%;
    border: none;
    outline: none;
    padding: 7px;
}

.container_inputNumeroSerie label,
.container_inputTipoMaquina label {
    left: 10px;
    top: -10px;
    position: absolute;
    background-color: white;
}

.container_table {
    grid-area: 2/1/2/1;
    overflow: auto;
    margin-top: 5px;
}

.table {
    width: 100%;
    font-size: 12px;
    text-align: center;
}
.table thead tr th{
    padding: 2px;
    font-size: 14px;
}

.table tr td {
    padding: 4px;
}
.table tr:not(:last-child){
    border-bottom: 1px solid var(--background-color-blue-700);
}
.status{
    font-size: 12px;
    font-weight: 700;
    cursor: default;
    border-radius: 5px;
}
.buttonAtalho{
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
}