.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  overflow: hidden;
}

.container_header {
  grid-area: 1/1/1/1;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.container_header button {
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background-color: var(--background-color-blue-700);
  color: white;
  border: 0;
}

.containerConfirmStatus,
.containerConfirmStatus_close {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerSugestao,
.containerHistoric {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: 0.2s;
  z-index: 3;
  overflow: auto;
}
.containerSugestao.--close,
.containerHistoric.--close {
  transform: scale(1.2);
  opacity: 0;
  pointer-events: none;
}
.containerConfirmTecnico,
.containerExcluirPeca {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerConfirmTecnico.--close,
.containerExcluirPeca.--close {
  pointer-events: none;
}
.containerConfirmTecnico.--close .cardConfirmTecnico,
.containerExcluirPeca.--close .cardExcluirPeca {
  transform: scale(1.5);
  opacity: 0;
}

.cardConfirmTecnico,
.cardExcluirPeca {
  box-shadow: 0 0 10px 1px rgb(196, 196, 196);
  width: 300px;
  height: 300px;
  border-radius: 50px 10px;
  background-color: white;
  transition: 0.5s;
  display: grid;
}

.cardConfirmTecnico span,
.cardExcluirPeca span {
  margin: 15px 5px 0 15px;
}

.container_input_horas,
.container_button_excluirPecas {
  position: relative;
  padding: 15px;
  height: 40px;
  display: grid;
}

.container_input_horas div {
  position: relative;
  display: flex;
}

.container_input_horas div label {
  transition: 0.5s;
  font-size: 14px;
  color: rgb(139, 139, 139);
  position: absolute;
  transform: translateX(15px) translateY(10px);
}

.container_button_card_horas,
.container_button_excluirPecas {
  display: flex;
  padding: 5px;
  gap: 15px;
}

.container_button_card_horas button,
.container_button_excluirPecas button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  transition: 0.5s;
}

.container_button_card_horas button:nth-child(1),
.container_button_excluirPecas button:nth-child(1) {
  background-color: rgb(16, 228, 157);
  color: rgb(3, 61, 42);
}

.container_button_card_horas button:nth-child(2),
.container_button_excluirPecas button:nth-child(2) {
  background-color: rgb(228, 16, 80);
  color: rgb(77, 4, 26);
}

.container_button_card_horas button:hover,
.container_button_excluirPecas button:hover {
  letter-spacing: 2px;
}

.container_button_card_horas button:nth-child(1):hover,
.container_button_excluirPecas button:nth-child(1):hover {
  box-shadow: 0 0 10px 1px rgb(16, 228, 157);
}

.container_button_card_horas button:nth-child(2):hover,
.container_button_excluirPecas button:nth-child(2):hover {
  box-shadow: 0 0 10px 1px rgb(228, 16, 80);
}

.container_input_horas div::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 2px;
  width: 98%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgb(24, 3, 216),
    rgb(243, 0, 252)
  );
  transition: 0.5s;
  transform: scaleX(0);
}

.container_input_horas div:focus-within::after {
  transform: scaleX(1);
}

.cardConfirmTecnico div input {
  border-radius: 7px;
  width: 100%;
  padding: 5px 0 5px 5px;
  border: 1px solid rgba(187, 187, 187, 0.829);
  outline: none;
}

.cardConfirmTecnico div input:valid ~ label,
.cardConfirmTecnico div input:focus ~ label {
  transform: translateX(7px) translateY(-8px);
  background-color: rgb(28, 5, 233);
  color: rgb(232, 230, 247);
  font-weight: 600;
  font-size: 12px;
  padding: 3px;
  border-radius: 5px;
}

.containerConfirmStatus_close {
  transform: translateY(100%);
  opacity: 0;
}

.container_body,
.container_body_loading {
  grid-area: 2/1/2/1;
  position: relative;
  overflow: hidden;
}

.actionApontamento {
  display: grid;
  gap: 15px;
}

.actionApontamento p {
  font-size: 12px;
  padding: 3px;
  border-radius: 3px;
  font-weight: 700;
  background-color: rgb(17, 175, 214);
  color: rgb(3, 51, 65);
  cursor: pointer;
}

.actionApontamento .aprovado {
  background-color: rgb(5, 230, 80);
  color: rgb(3, 65, 23);
}

.actionApontamento .reprovado {
  background-color: rgb(230, 5, 24);
  color: rgb(63, 6, 10);
}

.radio {
  width: 25px;
}

.button-delete {
  color: red;
  font-size: 22px;
}

.checked {
  appearance: none;
  width: 22px;
  height: 22px;
  border: 1px solid rgba(97, 97, 97, 0.392);
  border-radius: 50%;
}

.checked:checked {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.904) 35%,
    rgb(6, 196, 133) 45%
  );
}

.containerTablePecas {
  grid-area: 1/2/4/2;
  overflow: hidden;
  display: grid;
  padding: 0 0 0 10px;
}

.wrapContainerTable,
.wrapContainerStatus {
  border-radius: 7px;
  overflow: auto;
}

.wrapContainerTable {
  border: 1px solid rgb(204, 203, 203);
}

.table,
.table_status {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.table thead,
.table_status thead {
  background-color: var(--background-color-blue-700);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table thead tr th,
.table_status thead tr th {
  padding: 7px;
}

.container_tableBody tr td,
.container_tableBody_status tr td {
  padding: 20px;
}

.container_tableBody tr:not(:last-child),
.container_tableBody_status tr:not(:last-child) {
  border-bottom: 1px solid black;
}

.container_body_loading * {
  position: relative;
  display: flex;
  justify-content: left;
}

.container_body_loading label {
  width: 0;
  height: 0;
  color: transparent;
}

.containerFilter,
.containerFilter_close,
.containerDiario,
.containerDiario_close {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
  overflow: auto;
}

.containerFilter_close,
.containerDiario_close {
  pointer-events: none;
  overflow: hidden;
}

.containerFilter_close .wrapContainerFilter,
.containerDiario_close .wrapDiario {
  transform: scale(1.1);
  opacity: 0;
}

@media (min-width: 430px) {
}

@keyframes slideIn {
  from {
    transform: translateX(10%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.wrapDiario::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  background-color: rgb(0, 68, 255);
  transition: 1s;
  transform-origin: bottom right;
  animation: rotate infinite linear 8s;
  z-index: 1;
}

.wrapDiario::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  background-color: rgb(230, 13, 183);
  transition: 1s;
  transform-origin: bottom right;
  animation: rotate infinite linear 8s;
  animation-delay: 4s;
  z-index: 1;
}

.container_notification {
  position: relative;
}

.tag_notification {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(6, 196, 133);
  color: rgb(6, 105, 72);
  font-weight: 600;
  font-size: 22px;
}

.descriptionNotification {
  position: absolute;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px 1px rgb(168, 168, 168);
  border-radius: 3px;
  transition: 0.5s;
  transform-origin: left;
  overflow: hidden;
}

.descriptionNotification.--close {
  transform: scaleX(0);
}

.container_body_loading .wrapContainer_body *::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to left, #8f8d8d, #adabab, #999999, #afaeae),
    linear-gradient(to right, #afaeae, #999999, #adabab, #8f8d8d);
  width: 100%;
  height: 100%;
  z-index: 10;
  background-size: 400%;
  animation: loading 3s infinite;
  border-radius: 5px;
}

.--block *::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to left,
    #dbdbdb,
    #ececec,
    #dbdbdb,
    #f3f3f3
  );
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: 400%;
  animation: loading 3s linear infinite;
  border-radius: 5px;
}

.--block {
  position: relative;
}

.--block label {
  transform: translateY(0) !important;
}

@keyframes loading {
  0% {
    background-position: 100%;
  }

  50% {
    background-position: 50%;
  }

  100% {
    background-position: 0%;
  }
}

.container_tableBody,
.container_tableBody_status {
  background-color: rgba(219, 233, 240, 0.5);
  font-weight: 500;
  color: var(--text-color-blue-400);
  text-wrap: nowrap;
}

.containerTecnicoOrcamento,
.containerTecnicoManutencao,
.containerTempoEstimadoManutencao,
.containerTempoEstimadoOrcamento {
  border: 1px solid rgba(128, 128, 128, 0.555);
  display: flex;
  border-radius: 5px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.containerTecnicoOrcamento input,
.containerTecnicoManutencao input,
.containerTempoEstimadoManutencao input,
.containerTempoEstimadoOrcamento input {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 10px 10px 10px;
  margin: 1px;
}

.containerTecnicoOrcamento label,
.containerTecnicoManutencao label,
.containerTempoEstimadoOrcamento label,
.containerTempoEstimadoManutencao label {
  left: 15px;
  position: absolute;
  color: #8f8d8d;
  transition: 0.5s;
}

.container_body_loading .containerTecnicoOrcamento label,
.container_body_loading .containerTecnicoManutencao label {
  opacity: 0;
}

.containerTecnicoOrcamento input:focus ~ label,
.containerTecnicoOrcamento input:valid ~ label,
.containerTecnicoManutencao input:focus ~ label,
.containerTecnicoManutencao input:valid ~ label,
.containerTempoEstimadoOrcamento label,
.containerTempoEstimadoManutencao label {
  transform: translateY(-20px);
  transition: 0.5s;
  font-size: 12px;
  border-radius: 5px;
  color: white;
  background-color: var(--background-color-blue-700);
  padding: 3px;
}

.listTecnicoOrcamento,
.listTecnicoOrcamento_close {
  position: absolute;
  bottom: -70px;
  background-color: var(--background-color-blue-700);
  color: white;
  width: 95%;
  height: 60px;
  z-index: 5;
  list-style: none;
  padding: 5px;
  cursor: default;
  transition: 0.5s;
  transform-origin: top;
}

.listTecnicoOrcamento li:hover {
  background-color: var(--background-color-blue-400);
}

.listTecnicoOrcamento_close {
  transform: scaleY(0);
}

.containerButtonDaily button {
  font-size: 18px;
  background-color: rgb(22, 207, 145);
  color: rgb(6, 105, 72);
}
.containerButtonDailyDir button {
  font-size: 18px;
  background-color: black;
  color: rgb(143, 142, 142);
}
.containerButtonSugestao button {
  background-color: rgba(252, 6, 231, 0.541);
}
.containerButtonSugestao button svg path {
  stroke: white;
}

.containerMap,
.container_buttonBack button,
.containerButtonDaily button,
.containerButtonDailyDir button,
.containerButtonSugestao button,
.container_history button {
  transition: 0.2s;
  cursor: pointer;
}

.containerButtonDaily button:hover,
.containerMap:hover,
.container_buttonBack button:hover,
.containerButtonDailyDir button:hover,
.containerButtonDailyDir button:hover,
.containerButtonSugestao button:hover,
.container_history button:hover {
  transform: scale(1.2);
}

.status {
  padding: 5px;
  background-color: rgb(22, 207, 145);
  color: rgb(6, 105, 72);
  font-weight: 600;
  border-radius: 3px;
  text-align: center;
}

.container_header {
  box-shadow: 0 0 10px 1px rgb(204, 203, 203);
}

.containerMap {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(255, 145, 0);
  text-decoration: none;
  color: rgb(112, 70, 14);
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 18px;
}

.containerMap a {
  text-decoration: none;
  color: inherit;
}

.wrapContainer_body input {
  width: 100% !important;
}

@media (max-width: 1200px) {
  .container {
    grid-template-rows: 160px 1fr;
  }

  .wrapContainer_body input,
  .container_header input {
    width: 100% !important;
  }

  .container_header {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    grid-template-areas:
      "numeroOrcamento numeroOrcamento"
      "status status"
      "actions actions";
    padding: 15px 20px 0 10px;
  }

  .containerActions {
    grid-area: actions;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
  }
  .container_buttonBack {
    justify-self: flex-start;
  }

  .containerStatusOrcamento {
    grid-area: status;
  }

  .container_header button {
    margin-left: 5px;
    width: 30px;
    height: 30px;
  }

  .containerMap {
    margin-left: 5px;
  }

  .containerNumeroOrcamento {
    grid-area: numeroOrcamento;
  }

  .containerStatusOrcamento .container_body {
    overflow: auto;
  }

  .container_body,
  .container_body_loading {
    grid-auto-rows: 20px;
    display: grid;
    overflow: auto;
  }

  .container_body_loading .wrapContainer_body div input {
    border: none;
    background-color: transparent;
  }

  .wrapContainer_body {
    margin: 20px 10px 0 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-auto-rows: 40px;
  }

  .containerTempoEstimadoOrcamento {
    grid-area: 14/1/14/1;
    position: relative;
  }

  .containerTempoEstimadoManutencao {
    grid-area: 16/1/16/1;
    position: relative;
  }

  .containerMaquina {
    grid-area: 17/1/30/1;
    display: grid;
    grid-template-rows: repeat(5, 50px);
  }

  .container_infoMaquina {
    display: grid;
    grid-area: 1/1/5/1;
  }

  .containerTablePecas {
    grid-area: 5/1/29/1;
    padding: 0;
  }

  .containerStatus {
    grid-area: 30/1/35/1;
    display: grid;
    height: 300px;
  }

  .wrapContainerFilter,
  .wrapDiario {
    width: 500px;
    height: 500px;
    border-radius: 10px 50px;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(14, 10, 231, 0.226), 0 0 1px rgb(14, 10, 231),
      0 0 10px rgb(14, 10, 231);
    overflow: hidden;
    transition: 0.5s;
    position: absolute;
  }
}
@media (max-width: 700px) {
  .wrapContainerFilter,
  .wrapDiario {
    width: 300px;
    height: 500px;
    border-radius: 10px 50px;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(14, 10, 231, 0.226), 0 0 1px rgb(14, 10, 231),
      0 0 10px rgb(14, 10, 231);
    overflow: hidden;
    transition: 0.5s;
    position: absolute;
  }
}
@media (min-width: 1200px) {
  .container {
    grid-template-rows: 60px 1fr;
  }

  .container_body,
  .container_body_loading {
    /* grid-auto-rows: 40px; */
    grid-auto-rows: 40px;
    display: grid;
    overflow: auto;
  }

  .container_header button {
    /* margin-left: 50px; */
    width: 30px;
    height: 30px;
  }

  .wrapContainer_body {
    margin: 20px 10px 0 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .container_header {
    grid-area: 1/1/1/1;
    display: grid;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: left;
    align-items: center;
    padding-top: 5px;
    grid-template-columns: 270px 1fr 200px;
    grid-template-areas: "actions status numeroOrcamento";
  }

  .containerActions {
    grid-area: actions;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }

  .containerNumeroOrcamento {
    padding: 5px;
    grid-area: numeroOrcamento;
  }

  .containerStatusOrcamento {
    position: absolute;
    grid-area: status;
    width: 100%;
    /* width: calc(100% - 400px); */
    display: flex;
  }

  .containerStatusOrcamento button {
    margin-left: 0;
    margin-right: 10px;
  }

  .containerStatusOrcamento p {
    width: 100%;
    cursor: default;
  }

  .containerCodigoCliente {
    grid-area: 1/1/1/3;
  }

  .containerNomeCliente {
    grid-area: 1/3/1/5;
  }

  .containerCNPJCliente {
    grid-area: 1/5/1/7;
  }

  .containerCEPCliente {
    grid-area: 1/7/1/9;
  }

  .containerRuaCliente {
    grid-area: 2/1/2/5;
  }

  .containerNumeroEstabelecimento {
    grid-area: 2/5/2/7;
  }

  .containerCidadeCliente {
    grid-area: 2/7/2/9;
  }

  .containerRegiaoCliente {
    grid-area: 3/1/3/3;
  }

  .containerComplementoCliente {
    grid-area: 3/3/3/5;
  }

  .containerNomeContatoCliente {
    grid-area: 3/5/3/7;
  }

  .containerTelefoneContatoCliente {
    grid-area: 3/7/3/9;
  }

  .containerDescricaoServico {
    grid-area: 4/1/4/5;
  }

  .containerDescricaoServico input {
    width: 110% !important;
  }

  .containerTempoEstimadoOrcamento {
    grid-area: 4/6/4/6;
    position: relative;
  }

  .containerTempoEstimadoManutencao {
    grid-area: 4/8/4/9;
    position: relative;
  }

  .containerTecnicoOrcamento {
    grid-area: 4/5/4/5;
    position: relative;
  }

  .containerTecnicoManutencao {
    grid-area: 4/7/4/8;
  }

  .containerMaquina {
    grid-area: 5/1/15/9;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: repeat(6, 60px);
  }

  .container_infoMaquina {
    grid-area: 1/1/4/1;
    display: grid;
    gap: 15px;

    justify-content: space-between;
  }

  .containerStatus {
    grid-area: 4/1/12/9;
    display: grid;
    height: 300px;
    margin-top: 10px;
  }

  .wrapContainerFilter,
  .wrapDiario {
    width: 550px;
    height: 500px;
    border-radius: 10px 50px;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(14, 10, 231, 0.226), 0 0 1px rgb(14, 10, 231),
      0 0 10px rgb(14, 10, 231);
    overflow: hidden;
    transition: 0.5s;
    position: absolute;
  }
}
.wrapContainerFilter,
.wrapDiario {
  margin: 20px 0 0 0;
}
