.container_table {
    position: relative;
    width: calc(100% - 30px);
    height: calc(100vh - 140px);
    left: 20px;
    top: 20px;
    z-index: 1;
    overflow: auto;
}

.table {
    top: 50px;
    min-height: 250px;
    border-collapse: collapse;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 2;
}


.table thead th {
    background-color: var(--background-color-blue-700);
    padding: 10px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.815);
}

.table th svg {
    position: relative;
    font-size: 24px;
    left: 10px;
    top: 5px;
    border-radius: 50%;
}

.table th svg:hover {
    box-shadow: 0 0 10px 0 rgba(142, 202, 241, 0.527);
    transition: 1s;
    border-radius: 50%;
}

.table th:not(:last-child) {
    border-right: 1px solid rgb(255, 255, 255);
}
.table p:hover{
    cursor:  default;

}

.table_body,
.table_body tr {}

.table_body {
    background-color: rgba(219, 233, 240, .5);
    font-weight: 700;
    font-size: 14px;
    color: var(--text-color-blue-600);
    text-align: center;
}

.table_body tr:hover {
    transition: 0.5s;
}

.table_body td {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.table_body tr:not(:last-child) {
    border-bottom: 1px solid var(--background-color-blue-700);
}

.table_button {
    font-size: 10px;
}

.--substitutos p {
    font-size: 14px;
    color: rgb(211, 211, 211);
    background-color: rgb(49, 49, 49);
}

.table_button p,
.card_type label,
.card_type_close label,
.card_local label,
.card_local_close label {
    border-radius: 7px;
    padding: 3px;
    text-align: center;
}


@media(max-width:770px) {
    .container_table {
        width: calc(100% - 20px);
        left: 85px;
        top: 0;
        height: calc(100vh - 100px);
    }

    .table thead th {
        padding: 5px;
        font-size: 14px;
    }
    .table_body td {
        padding: 7px;
    }
}

.card_type,
.card_type_close,
.card_local,
.container_local_close,
.container_codigo,
.container_codigo_close {
    position: absolute;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 15px 0 rgb(0, 0, 0);
    font-size: 11px;
    transition: 0.5s;
    z-index: 1;
}
.container_codigo{
    color: rgb(0, 10, 95);
    border-radius: 7px;
    height: 180px;
    width: 180px;
    overflow: auto;
}
.container_codigo_close{
    width: 20px;
    height: 20px;
    background-color: white;
    overflow: hidden;
    border-radius: 50%;
    transform: translateX(100px);
    opacity: 0;
    

}

.card_codigo div{
    display: flex;
}
.card_codigo li{
    list-style: none;
    padding: 5px;
}

.card_type {
    transform: translateX(-60px);
}

.card_type_close {
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 100%;
    transform: translateX(40px);
    opacity: 0;
}

.card_local {
    transform: translateX(-10px);
}


.card_local_close {
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 100%;
    transform: translateX(100px);
    opacity: 0;
}

.card_type,
.card_local {
    width: 120px;
    height: 200px;
    border-radius: 7px;
    transform-origin: left;
    overflow: auto;
}

.card_type::-webkit-scrollbar,
.card_local::-webkit-scrollbar,
.cardSubstituto::-webkit-scrollbar {
    display: flex;
    width: 7px;
    height: 2px;

}

.card_type::-webkit-scrollbar-thumb,
.card_local::-webkit-scrollbar-thumb,
.cardSubstituto::-webkit-scrollbar-thumb {
    background-color: rgba(26, 26, 26, 0.911);
    border-radius: 7px;
}

.card_type label,
.card_type_close label,
.card_local label,
.card_local_close label,
.card_codigo label,
.card_codigo_close label {
    width: 60%;
    top: -10px;
}

.card_type li,
.card_type_close li,
.card_local li,
.card_local_close li,
.card_codigo li,
.card_codigo_close li {
    margin: 5px;
    display: flex;
}
.card_type div{
    display: flex;
    width: 100%;
    font-size: 11px;
}
.card_type div label{
    margin-left: 5px;
    color: rgb(9, 0, 134);
}

.card_type input[type="radio"]{
    appearance: none;
    border: 1px solid rgb(136, 136, 136);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.card_type input[type="radio"]:checked{
    background-image: radial-gradient(rgba(255, 255, 255, 0.904) 35%, rgb(9, 0, 134) 45%) ;
    border: 1px solid rgb(17, 0, 255);
}


.card_type input[type="checkbox"],
.card_type_close input[type="checkbox"],
.card_local input[type="checkbox"],
.card_local_close input[type="checkbox"],
.card_codigo input[type="checkbox"] {
    appearance: none;
    margin-right: 7px;
    display: flex;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 3, 190, 0.329);
    border-radius: 5px;

}

.card_type input[type="checkbox"]:checked,
.card_type_close input[type="checkbox"]:checked,
.card_local input[type="checkbox"]:checked,
.card_local_close input[type="checkbox"]:checked,
.card_codigo input[type="checkbox"]:checked {
    appearance: none;
}

.card_type input[type="checkbox"]:checked::before,
.card_type_close input[type="checkbox"]:checked::before,
.card_local input[type="checkbox"]:checked::before,
.card_local_close input[type="checkbox"]:checked::before,
.card_codigo input[type="checkbox"]:checked::before {
    appearance: none;
    content: "✔";
    position: relative;
    left: 3px;
    top: -2px;
    font-size: medium;
    color: rgb(0, 255, 98);
}

.cardSubstituto,
.cardSubstituto_close{
    position: absolute;
    background-color: white;
    box-shadow: 0 5px 20px 0 rgb(0, 0, 0);
    padding: 2px;
    transition: .5s;
    list-style: none;
}
.cardSubstituto{
    width: 400px;
    max-height: 100px;
    transform: translateY(25px) translateX(-350px);
    border-radius: 7px;
    overflow: auto;
}

.cardSubstituto_close{
    transform: translateY(25px) translateX(0px);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    overflow: hidden;
    opacity: 0;
}



.cardSubstituto_items table{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}
.cardSubstituto_items p{
    font-size: 10px;
}

.cardSubstituto_items td{
    padding: 5px;
}
.filter{
    position: relative;
    border: 1px solid rgba(128, 162, 255, 0.61);
    padding: 7px;
    top: 8px;
    width: 85%;
    border-radius: 7px;
    left: 7px;
    margin-bottom: 15px;
}

.filter input{
    border: none;
    border-radius: 7px;
    margin-top: 5px;
    padding: 2px;
    width: 85%;
    outline: none;
}
.filter span{
    position: absolute;
    background-color: rgb(0, 16, 88);
    color: white;
    padding: 3px;
    border-radius: 7px;
    left: 8px;
    font-size: 12px;
    top: -10px;
}

.button_filter{
    border: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-color: rebeccapurple;
    display: grid;
}
.card_codigo .button_filter svg{
    background-color: red;
}