.list {
    list-style: none;
    display: grid;
    grid-template-rows: 50px 1fr;
    width: 100%;
    height: 100%;
}

.list label {
    color: var(--text-color-blue-600);
    font-size: 10px;
}

.container_filter {
    grid-area: 1/1/1/1;
    padding: 10px 0 0 0;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap_container_filter {
    border-radius: 3px;
    border: 1px solid rgba(148, 148, 148, 0.452);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap_container_filter input {
    padding: 7px;
    width: 100%;
    border: none;
    outline: none;
}

.wrap_container_filter label {
    position: absolute;
    top: 10px;
    left: 25px;
    background-color: white;
}
.wrap_container_filter svg{
    font-size: 24px;
    color: var(--text-color-blue-600);
}

.container_body {
    grid-area: 2/1/2/1;
    position: relative;
    overflow: auto;
    padding: 5px;
}

.container_body li {
    display: flex;
    margin-bottom: 5px;
    text-align: center;
    align-items: center;
}

.container_body li input[type="checkbox"] {
    appearance: none;
    margin-right: 7px;
    display: flex;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 3, 190, 0.329);
    border-radius: 5px;
}

.container_body li input[type="checkbox"]:checked::before {
    appearance: none;
    content: "✔";
    position: relative;
    left: 2px;
    top: -2px;
    font-size: 12px;
    color: rgb(0, 255, 98);
}