.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.containerInput {
    grid-area: 1/1/1/1;
    padding: 7px;
}

.wrapContainer_input {
    display: flex;
    position: relative;
    border: 1px solid rgba(155, 155, 155, 0.514);
    border-radius: 3px;
    padding: 1px;
    align-items: center;
}

.wrapContainer_input svg {
    color: rgb(141, 141, 141);
    font-size: 18px;
}

.wrapContainer_input input {
    width: 85%;
    padding: 5px;
    outline: none;
    border: 0;
}
.containerRabioButton{
    grid-area: 2/1/2/1;
    width: 100%;
    display: grid;
    text-align: left;
    grid-template-rows: repeat(2,1fr);
    padding: 0 0 0 3px;
    gap: 5px;
}
.containerRabioButton div{
    width: 90%;
    display: flex;
}
.containerRabioButton label{
    font-size: 10px;

}
.containerInput label {
    position: absolute;
    background-color: white;
    /* background-color: var(--background-color-blue-700); */
    font-size: 11px;
    top: -7px;
    left: 10px;
    border-radius: 3px;
    color: var(--text-color-blue-600);
    padding: 0 3px 0 3px;
}



.list {
    grid-area: 3/1/3/1;
    color: black;
    font-size: 12px;
    display: grid;
    overflow: auto;
    margin-left: 7px;
    margin-top: 5px;
}

.list ul {
    list-style: none;
}

.list ul li {
    width: 100%;
    display: grid;
    align-items: center;
    margin-bottom: 5px;
    text-align: left;
    grid-template-columns: 15px 1fr;
}

.list ul li p {
    padding: 3px;
    border-radius: 5px;
    width: 80%;
}

.list ul li input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 3, 190, 0.329);
    border-radius: 3px;
}

.list ul li input[type="checkbox"]:checked::before {
    content: "✔";
    position: relative;
    left: 1px;
    top: -4px;
    font-size: 14px;
    color: rgb(0, 255, 98);
}

.list ul li label {
    margin-left: 5px;
}