.main {
  background-color: transparent;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
  overflow: hidden;
  grid-template-areas: 
  "top-bar"
  "body";
}
.body{
    grid-area: body;
    background-color:transparent;
    overflow: auto;
}
.card{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    overflow: auto;
}
.wrap_card{
    width: 500px;
    height: 400px;
    background-color: rgb(206, 41, 41);
    border-radius: 20px 50px;
}
