.table{
    border-collapse: collapse;
    border: 1px solid black;
}
.table thead{
    background-color: rgb(10, 2, 151);
    color: rgb(199, 237, 13);
    font-size: 22px;
}
.table thead tr th{
    padding: 20px;
}
.table thead tr th:not(:last-child){
    border-right: 1px solid rgb(199, 237, 13);
}
.tableBody{
    
    background-color:rgb(255, 240, 221) ;
    text-align: center;
}
.tableBody tr td{
    padding: 20px;
    font-weight: 600;
}
.tableBody tr:not(:last-child){
    border-bottom: 1px solid black;
}