.body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr;
    min-height: 500px;
    position: absolute;
    overflow: hidden;
    grid-template-areas: 
    "header"
    "body";
  }
  .header{ 
    grid-area: header;
  }
  .main{
    grid-area: body;
    overflow: hidden;
  }
  
  