.card {
    width: 550px;
    height: 350px;
    background: white;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-rows: 40px 1fr 70px;
}

.container_message,
.container_message_close,
.container_loading,
.container_loading_close {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: .5s;
}

.container_message_close {
    transform: translateY(-100%);
}
.container_loading,
.container_loading_close{
    background-color: rgba(238, 238, 238, 0.629);
}
.container_loading_close{
    transform: translateY(-100%);
}


@media(min-width:440px) {
    .container_title {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-color-blue-600);
        grid-area: 1/1/1/1;
    }

    .container_body {
        grid-area: 2/1/2/1;
        display: grid;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(10, 1fr);
        padding: 10px 7px 0 7px;
        gap: 12px;
        overflow: auto;
    }

    .container_NomeCliente {
        grid-area: 1/1/1/6;
    }

    .container_numeroSerie {
        grid-area: 1/6/1/11;
    }

    .container_codigoMaquina {
        grid-area: 2/1/2/6;
    }

    .container_descricaoMaquina {
        grid-area: 2/6/2/11;
    }

    .container_descricaoServico {
        grid-area: 3/1/3/6;
    }

    .container_tecnico {
        grid-area: 3/6/3/11;
    }

    .wrap_containerTecnico {
        position: relative;
    }

    .wrap_containerTecnico input {
        width: 90%;
        border: 1px solid rgba(102, 102, 102, 0.555);
        padding: 17px 10px 10px 10px;
        border-radius: 5px;
        cursor: default;
    }

    .wrap_containerTecnico label {
        position: absolute;
        left: 0;
    }

    .listTecnico,
    .listTecnico_close {
        position: absolute;
        bottom: -70px;
        background-color: var(--background-color-blue-600);
        width: 95%;
        height: 70px;
        list-style: none;
        color: white;
        transition: .5s;
        transform-origin: top;
        border-radius: 5px;
        overflow: auto;
        cursor: default;
    }

    .listTecnico li,
    .listTecnico_close li {
        padding: 5px;
    }

    .listTecnico li:hover,
    .listTecnico_close li:hover {
        background-color: rgba(38, 48, 192, 0.84);
    }

    .listTecnico_close {
        transform: scaleY(0);
    }


    .footer {
        grid-area: 3/1/3/1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 7px;
        gap: 10px;
        justify-content: center;
        padding: 15px;
    }
}